.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}
/* style.css */

/* Hero Section */
.hero-section {
  background: linear-gradient(135deg, #a3d5f7, #81d4fa); 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 5rem;
  border-radius: 15px;
  color: #fff; /
}


.hero-section .btn-primary {
  background-color: #0288d1;
  border-color: #0288d1;
}
.hero-section .btn-primary:hover {
  background-color: #0277bd;
  border-color: #0277bd;
}

