{% extends 'mindCare/home.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Add Professional Help</h2>

    <form method="POST">
        {% csrf_token %}
        
        <div class="mb-3">
            <label>Title</label>
            <input type="text" name="title" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Description</label>
            <textarea name="description" class="form-control" rows="4" required></textarea>
        </div>
        
        <div class="mb-3">
            <label>Availability</label>
            <input type="text" name="availability" class="form-control" required>
        </div>
             <div class="mb-3">
            <label>location</label>
            <input type="text" name="title" class="form-control" required>
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
