{% extends "main.html" %}
{% load static %}

{% block content %}

<!-- Link the CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'mindCare/assets/style.css' %}">
<!-- Hero Section -->
<section class="hero text-center p-5">
  <h1>Welcome to MindCare</h1>
  <p>Your mind deserves a gentle place to land.
    At MindCare, we guide you through healing,growth, and emotional clarity- one step at a time.
    Start your journey with tools,support, and a safe space built just for you.
  </p>
  <a href="{% url 'mindCare:get_started' %}" class="btn btn-primary me-2">Get Started</a>
  <a href="{% url 'mindCare:about_us' %}" class="btn btn-outline-dark m-2">About Us</a>
</section>

<!-- Features Section -->
<section class="features d-flex justify-content-center mt-5">
  <div class="feature-card text-center m-3 p-3 border rounded">
    <img src="{% static '/images\focus.svg' %}" alt="Increase Focus">
    <h3>Increase Focus</h3>
    <p>Clear strategies to sharpen attention and prioritize what matters most.</p>
  </div>

  <div class="feature-card text-center m-3 p-3 border rounded">
    <img src="{% static 'images/awareness.svg' %}" alt="Self Awareness">
    <h3>Self-Awareness</h3>
    <p>Understand your patterns, values, and the beliefs that shape your choices.</p>
  </div>

  <div class="feature-card text-center m-3 p-3 border rounded">
    <img src="{% static 'images/improve mental health.svg' %}" alt="Improve Mental Health">
    <h3>Improve Mental Health</h3>
    <p>Practical tools for confidence, communication, emotion, and improve overall mental health.</p>
  </div>
</section>

<!-- Footer -->
<footer class="text-center mt-5 py-3">
  &copy; 2025 MindCare. All rights reserved 🌿
</footer>
{% endblock %}
