{%extends 'main.html'%} {% block content%}
<nav class="navbar" >
  <div class="container-fluid bg-light p-5 rounded-3">
    <h1 class="display-5 fw-bold">Welcome to MindCare</h1>
    <p class="col-md-8 fs-4">
      Your mental wellness companion. Track your mood, manage stress, and find
      professional help all in one place.
    </p>
    <a
      class="btn btn-primary btn-lg"
      href="{% url 'mindCare:registerUser' %}"
      role="button"
      >Get Started</a
    >
  </div>
</nav>



{% endblock%}