{%extends 'main.html'%}
 {% block content%}
 <h1 class="display-6">Book Your Appointment!</h1>
 <form action="" method="POST">
    {% csrf_token %}
  <div class="mb-3">
    <label for="phoneNumber" class="form-label">Phone Number</label>
    <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" aria-describedby="phoneNumber">
    <div id="phoneNumber" class="form-text">We'll send you an mpesa prompt. Enter your number eg 07*****</div>
  </div>
  <div class="mb-3">
    <label for="amount" class="form-label">Amount</label>
    <input type="text" class="form-control" id="amount" name="amount">
  </div>
  
  <button type="submit" class="btn btn-primary">Pay</button>
</form>
<div class="container bg-dark text-light"/>
{{response_message}}
 
    
     {% endblock%}
      